---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,600');

// Fonts
$base-font-family: "Raleway", sans-serif;

// Colors
$color-dark:		#272727;
$color-mid:			#7c7c7c;
$color-light:		#ede7d9;
$color-primary:		#90a9b7;
$color-secondary:	#d5a021;
$color-accent:		#d2d8b3;

$grey-color:       #bcbcbc;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 40%);

// Width of the content area
$content-width:    1200px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin materialize($start-color, $end-color) {
	color: $end-color;
	text-shadow:
		0 1px 0 mix($end-color, $start-color, 90%),
		0 2px 0 mix($end-color, $start-color, 80%),
		0 3px 0 mix($end-color, $start-color, 70%),
		0 4px 0 mix($end-color, $start-color, 60%),
		0 5px 0 mix($end-color, $start-color, 50%),
		0 6px 0 mix($end-color, $start-color, 40%),
		0 7px 0 mix($end-color, $start-color, 30%),
		0 8px 0 mix($end-color, $start-color, 20%),
		0 9px 0 mix($end-color, $start-color, 10%),
		3px 4px 15px darken($color-dark, 40%);
}

* {
	font-family: $base-font-family;
}

// _layouts/default.html

.page {
	background-color: $color-light;
	width: 100%;
	min-height: 600px;
	margin: 0;
}

.page-heading {

}

.page-body {
	padding: 2em;
}

// _layouts/post.html

$post-body-color: darken($color-primary, 20%);

.post-body {
	margin: auto;
	max-width: $content-width * .75;
	border-left: 5px solid $post-body-color;
	border-right: 5px solid $post-body-color;
	border-top: 1px solid $post-body-color;
	border-bottom: 1px solid $post-body-color;
	padding: 1em;
}

.code {
	font-family: "Courier New", monospace;
	font-size: 14px;
	white-space: pre;
}

// _includes/header.html

.header {
	background-color: $color-primary;
	width: 100%;
	height: 100px;
	position: relative;
	box-shadow: 0px 1px 2px darken($color-mid, 40%);
}

.header-title {
	@include materialize(darken($color-secondary,30%), $color-secondary);
	margin-left: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.links {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	margin-right: 1em;
}

.link {
	display:inline-block;
	background-color: $color-light;
	width: 75px;
	margin:.25em;
	padding:.65em;
	text-align: center;
	text-decoration: none;
	box-shadow: 2px 3px 10px darken($color-mid, 40%);
}

.link div {
	display:inline-block;
	height:100%;
	width:100%;
	text-decoration: none;
	color: #000;
}

.link-current {
	background-color: $color-secondary;
	border: 1px solid black;
	box-shadow: 4px 6px 20px darken($color-mid, 40%);
}

// _includes/footer.html

.footer {
	position: absolute;
	bottom:0%;
	background-color: $color-secondary;
	height:50px;
	width: 100%;
}

.copyright {
	float: left;
	max-width:35%;
	padding:.25em;
}

.helpers {
	float: right;
	padding:.25em;
}