<div class="header">
	<div class="header-title">
		<h1>{{ site.title | escape}}</h1>
	</div>
	{{ title }}
	<div class="links">
		{% assign s_pages = {{site.pages | sort: 'nav_order'}} %}
		{% for s_page in s_pages %}
			{% if s_page.title and s_page.show %}
				{% if s_page.title == page.title %}
					<a class="link link-current" href="{{ s_page.url | relative_url }}">
						<div>
							{{ s_page.title | escape }}
						</div>
					</a>
				{% else %}
					<a class="link" href="{{ s_page.url | relative_url }}">
						<div>
							{{ s_page.title | escape }}
						</div>
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>